@charset "UTF-8";
/* CSS Document */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    height: 93%;
    width: 75%;
    top: 7%;
    bottom: 0;
    left: 25%;
    padding: 0;
    margin: 0;
    position:absolute;
}

.map-legends.wax-legends.leaflet-control {
    background-color: #383838;
    width:300px;
    height:75px;
    opacity: 0.8;
}

.map-legends.wax-legends {
    color: white;
}

.legend label, .legend span {
    display:block;
    float:left;
    width:12%;
    text-align:center;
    font-size:9px;
    color:white;
}

.legend span { height:15px; }
.legend label { height:25px; line-height: 100%; padding-top: 5px; padding-left: 5px; padding-right: 5px }

.leaflet-popup-close-button {
    display: none;
}

div.leaflet-popup-content-wrapper {
    pointer-events: none;
    background-color: #262626;
    border-style: solid;
    border-width: 3px;
    border-color: #5e5e5e;
}

div.leaflet-popup-content {
    color:white;
}

div.leaflet-popup-tip {
    position: relative;
    top:-12px;
    background-color:#5e5e5e;
}

#titlebar {
    height: 7%;
    width: 60%;
    left: 40%;
    position: absolute;
    top: 0;
    background: black;
    overflow: hidden;
    display: table;
    text-align: center;
}

.title {
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    font-size: 110%;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}

#photo {
    height: 7%;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: inline-block;
    background: white;
}

.logo {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#dashboard {
    top: 7%;
    width: 25%;
    height: 93%;
    padding: 0;
    margin: 0;
    background: black;
    position: absolute;
    bottom: 0;
    overflow: auto;
    border-right: 1px solid white;
}

#dashboard-title-container {
    height: 10%;
    width: 100%;
    background: black;
}

#dashboard-title {
    color: white;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    font-size: 110%, 18px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

#selector-container {
    position: absolute;
    width: 100%;
    top: 10%;
    height: 8%;
    overflow: hidden;
    white-space: nowrap;
}

#selector-menu {
    position: absolute;
    top: 0;
    left: 7%;
    z-index: 9000;
    width: 100%;
    height: 100%;
}

#selector-menu label {
    color: white;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    float:left;
    clear: both;
    padding-bottom: 5px;
}

.selector {
    background: black;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin-right: 10%;
    clear:both;
}

#d3-elements {
    position: absolute;
    width: 100%;
    top: 18%;
    height: 80%;
    font-size: 9px;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
}

#about {
    height: 60px;
    width: 20px;
    top: 20%;
    left: 25%;
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    display: table;
    cursor: pointer;
}

#about-title {
    font-size: 10px;
    color: white;
    font-family: "HelveticaNeue-Bold", Helvetica, sans-serif;
    transform: rotate(90deg);
    transform-origin: right, top;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    }

#about-inset {
    height: 285px;
    width: 175px;
    top: 20%;
    left: 25%;
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    visibility: hidden;
}

#about-text {
    font-size: 10px;
    color: white;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    position: relative;
    padding: 5px, 5px, 5px, 5px;
    visibility: hidden;
}

/*.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
}*/

.xA {
    font-size: 9px;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    stroke: white;
}

.xA line {
    stroke: white;
}

.yA text {
    font-size: 9px;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    stroke: white;
}

.domain {
    stroke: white;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*top:5%;*/
}

.svg-container-2 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 2%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
}

.xL {
    font-size: 9px;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    stroke: white;
}

.xL line {
    stroke: white;
}

.yL text {
    font-size: 9px;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    stroke: white;
}

.tablePopup {
    width:200px;
}

.td1 {
    width: 150px;
}

.td2 {
    text-align: right;
    width: 50px;
}